<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="aside">
    <aside class="side-container">
        <div class="vertical-menu">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Project
                </button>
                <ul class="dropdown-menu">
                    <li th:each="project : ${projectList}">
<!--                        <a th:href="'#' + ${project.projectName}" class="dropdown-item" style="color: #222222" th:text="${project.projectName}"></a>-->
                        <form th:action="@{/mainPage/projectGet}" method="post" th:object="${projectRequest}">
                            <input type="hidden" name="ProjectNumber" th:value="${project.projectId}" />
                            <input type="hidden" name="projectName" th:value="${project.projectName}" />
                            <button type="submit" href="/task" class="dropdown-item" style="color: #222222" th:text="${project.projectName}"></button>
                        </form>

                    </li>
                    <li style="width: 100%;"><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#projectModal" data-bs-whatever="@mdo">프로젝트 추가</button></li>
                </ul>
            </div>
        </div>
    </aside>
</th:block>
</html>