<!--유저 페이지-->
<!--user_access.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

    <div class="form">
        <div class="form-elements">
            <form th:action="@{/login/logout}" method="post" id="logoutForm">
                <div class="form-element">
                    <button type="submit" style="background-color: darkgray">로그아웃</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>