<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-sample}">

<th:block layout:fragment="content">

    <div class="row main-head ">
        <div class="col-12 main-title ">
            <span  th:if="${projectRequest != null}" th:text="${projectRequest.projectName}" style="color: black"></span>
            <span th:if="${projectRequest == null}" th:text="${accountInfo.userName + '님의 Doray! 메인 화면입니다.'}" style="color: black"></span>
        </div>
    </div>

    <span  th:action="${projectRequest != null}" style="color: black">

    <span  th:if="${projectRequest != null}">

            <form th:action="@{/mainPage/deleteProject}" method="post" th:object="${projectRequest}">
                <input type="hidden" name="_method" value="delete"/>
                <input type="hidden" th:name="projectNumber" th:value="${projectRequest.projectNumber}" />
                <button type="submit">프로젝트 삭제</button>
            </form>

            <div style="margin: 20px 0px"></div>


            <button type="button" class="btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#projectMember"
                    data-bs-whatever="@{'projectId=' + ${projectRequest.projectId} + '&projectName=' + ${projectRequest.projectName}}">프로젝트 멤버 추가</button>

            <button type="button" class="btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#createTask"
                    data-bs-whatever="@{'projectId=' + ${projectRequest.projectId} + '&projectName=' + ${projectRequest.projectName}}">Task 추가</button>

<!--            <div style="margin: 20px 0px"></div>-->

<!--            <h2>테스크 목록</h2>-->

<!--            <li th:each="task : ${taskList}">-->
<!--                <form th:action="@{/mainPage/taskGet}" method="post" th:object="${projectRequest}">-->
<!--                    <a href="#" class="list-group-item list-group-item-action">-->
<!--                        <h1 th:text="${task.taskTitle}"></h1>-->

<!--                        <form th:action="@{/mainPage/deletetask}" method="post" th:object="${projectRequest}">-->
<!--                            <input type="hidden" name="_method" value="delete"/>-->
<!--                            <input type="hidden" th:name="projectNumber" th:value="${projectRequest.projectNumber}" />-->
<!--&lt;!&ndash;                            <input type="hidden" th:name="projectNumber" th:value="${task.projectNumber}" />&ndash;&gt;-->
<!--                            <button type="submit">태스크 삭제</button>-->
<!--                        </form>-->
<!--                        <div style="margin: 10px 0px"></div>-->

<!--                        <span th:text="${task.taskContent}"></span>-->
<!--                    </a>-->

<!--                </form>-->
<!--            </li>-->

<!--            <div style="margin: 20px 0px"></div>-->

<!--            <a class="list-group-item list-group-item-action">-->
<!--                <span>현재 프로젝트 멤버</span>-->
<!--                <li th:each="projectMember : ${projectMemberList}">-->
<!--                    <span th:text="${projectMember.userName}"></span>-->
<!--                </li>-->
<!--                </a>-->

            <div style="margin: 20px 0px"></div>

            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea1" style="height: 100px"></textarea>
                <label for="floatingTextarea1">Comments</label>
            </div>
        </span>

    </span>

    <span th:if="${projectRequest == null}" style="color: black">

    </span>



    <form th:object="${projectRequest}" th:action="@{/mainPage/projectAdd}" method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">프로젝트 추가</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">프로젝트명</label>
                            <input type="text" th:name="projectName" class="form-control" id="recipient-name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary">추가</button>
                </div>
            </div>
        </div>
    </div>
    </form>

    <span  th:if="${projectRequest != null}">

    <form th:object="${memberRequest}" th:action="@{/mainPage/memberAdd}" method="post">
        <div class="modal fade" id="projectMember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="projectMemberLabel">멤버 추가</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" th:name="projectNumber" th:value="${projectRequest.projectNumber}" />
                            <input type="hidden" th:name="projectName" th:value="${projectRequest.projectName}" />
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">멤버 이름</label>
                                <input type="text" th:name="userName" class="form-control" id="memberName" />

<!--                                <div class="checkbox-group">-->
<!--                                    <label th:each="project : ${projectList}">-->
<!--                                        <input type="checkbox" th:id="${'projectCheckbox_' + project.projectId}" th:name="projectNumber" th:value="${project.projectId}" />-->
<!--                                        <span th:text="${project.projectName}"></span>-->
<!--                                    </label>-->
<!--                                </div>-->
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">추가</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </span>

    <span  th:if="${projectRequest != null}">

    <form th:object="${taskRequest}" th:action="@{/mainPage/createTask}" method="post">
        <div class="modal fade" id="createTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createTaskLabel">테스크 추가</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" th:name="projectNumber" th:value="${projectRequest.projectNumber}" />
                            <input type="hidden" th:name="projectName" th:value="${projectRequest.projectName}" />

                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">태스크 이름</label>
                                <input type="text" th:name="taskTitle" class="form-control" id="taskTitle">

                            </div>

                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">태스크 내용</label>
                                <input type="text" th:name="taskContent" class="form-control" id="taskContent">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">추가</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </span>

</th:block>
</html>