<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-sample}">

<th:block layout:fragment="content">
    <div class="row main-head ">
        <div class="col-12 main-title ">
            task List
            <div class="btn-group float-end" role="group">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#taskModal">업무 추가</button>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#projectModal">프로젝트 수정</button>
            </div>
<!--            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#taskModal" style="width: 100px" >task 추가</button>-->
        </div>

        <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="taskModalLabel">Task</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">업무명</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">설명</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary">추가</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="list-group" style="padding-top: 30px; padding-bottom: 30px">
        <a href="/taskDetail" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">태스크 제목</h5>
                <small class="text-body-secondary">3 days ago</small>
            </div>
            <p class="mb-1">태스크 내용</p>
            <small class="text-body-secondary">태스크 상태</small>
        </a>
        <a href="/taskDetail" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">태스크 제목</h5>
                <small class="text-body-secondary">3 days ago</small>
            </div>
            <p class="mb-1">태스크 내용</p>
            <small class="text-body-secondary">태스크 상태</small>
        </a>
        <a href="/taskDetail" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">태스크 제목</h5>
                <small class="text-body-secondary">3 days ago</small>
            </div>
            <p class="mb-1">태스크 내용</p>
            <small class="text-body-secondary">태스크 상태</small>
        </a>
    </div>


    <!--    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--        <div class="modal-dialog">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <h1 class="modal-title fs-5" id="exampleModalLabel">프로젝트 추가</h1>-->
    <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
    <!--                </div>-->
    <!--                <div class="modal-body">-->
    <!--                    <form>-->
    <!--                        <div class="mb-3">-->
    <!--                            <label for="recipient-name" class="col-form-label">프로젝트명</label>-->
    <!--                            <input type="text" class="form-control" id="recipient-name">-->
    <!--                        </div>-->

    <!--                        <div class="mb-3">-->
    <!--                            <label for="recipient-name" class="col-form-label">멤버</label>-->
    <!--                            <ul class="list-group">-->
    <!--                                <li class="list-group-item">-->
    <!--                                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">-->
    <!--                                    <label class="form-check-label" for="firstCheckbox">First checkbox</label>-->
    <!--                                </li>-->
    <!--                                <li class="list-group-item">-->
    <!--                                    <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">-->
    <!--                                    <label class="form-check-label" for="secondCheckbox">Second checkbox</label>-->
    <!--                                </li>-->
    <!--                                <li class="list-group-item">-->
    <!--                                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">-->
    <!--                                    <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>-->
    <!--                                </li>-->
    <!--                            </ul>-->
    <!--                        </div>-->

    <!--                        <div class="mb-3">-->
    <!--                            <label for="message-text" class="col-form-label">설명</label>-->
    <!--                            <textarea class="form-control" id="message-text"></textarea>-->
    <!--                        </div>-->
    <!--                    </form>-->
    <!--                </div>-->
    <!--                <div class="modal-footer">-->
    <!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>-->
    <!--                    <button type="button" class="btn btn-primary">추가</button>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    </div>
</th:block>
</html>